.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.5rem;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphContainer {
  width: 800px;
  display: grid;
  row-gap: 1rem;

  select {
    width: min-content;
  }
}

.defaultMessage {
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
