.form {
  display: grid;
  row-gap: 1.25rem;

  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.09);

  padding: 2rem;
  width: 100%;
}

.social-login {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.625rem;
}
